<div class="flex flex-col flex-auto min-w-0 my-5">
  <div class="flex justify-between mb-5">
    <div class="flex justify-between shadow overflow-hidden p-8 bg-card rounded-2xl w-3/4 mr-5">
      <div class="flex justify-start items-center w-full">
        <img class="h-20 w-20 mr-3 rounded-full"
             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
             alt="">
        <h2 class="text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
          {{course.title}}
        </h2>
      </div>
      <div class="flex justify-start items-center">
        <button class="bg-blue-600 py-5 h-1/2" mat-flat-button>
          <span class="text-white font-bold" (click)="subscribe()">{{(enrolled ? 'Continue' : 'Subscribe')}}</span>
        </button>
      </div>
    </div>
    <div class="flex flex-col shadow overflow-hidden p-8 bg-card rounded-2xl w-1/4">
      <div class="flex flex-row items-center">
        <mat-label class="w-full font-bold">{{course.moduleCount}} modules</mat-label>
      </div>
      <div class="flex flex-row items-center">
        <mat-label class="w-full font-bold">{{course.moduleCount}} modules</mat-label>
      </div>
    </div>
  </div>

  <div class="flex justify-between mb-5">
    <div class="flex flex-col shadow overflow-hidden p-8 bg-card rounded-2xl w-3/4 mr-5">
      <h2 class="text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
        Description
      </h2>
      <!--      <div class="flex flex-row items-center" *ngFor="let module of course.moduleList">-->
      <!--        <mat-label class="w-full font-bold">{{module.title}}</mat-label>-->
      <!--      </div>-->
      <div class="flex flex-row items-center">
        <mat-label class="w-full font-bold">{{course.description}}</mat-label>
      </div>
    </div>

    <div class="flex flex-col shadow overflow-hidden px-8 py-4 bg-card rounded-2xl w-1/4">
      <h2 class="text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
        Reviews
      </h2>
      <div class="flex flex-col items-center w-full mt-5">
        <div class="flex justify-between items-center w-full">
          <img class="h-10 w-10 mr-3 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
          <mat-label class="text-xl w-full">Uatayev Tannur</mat-label>
        </div>
        <div class="flex justify-between items-center w-full">
          <mat-label class="text-sm w-full">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has be...
          </mat-label>
        </div>
      </div>
      <div class="flex flex-col items-center w-full mt-5">
        <div class="flex justify-between items-center w-full">
          <img class="h-10 w-10 mr-3 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
          <mat-label class="text-xl w-full">Uatayev Tannur</mat-label>
        </div>
        <div class="flex justify-between items-center w-full">
          <mat-label class="text-sm w-full">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has be...
          </mat-label>
        </div>
      </div>
      <div class="flex flex-col items-center w-full mt-5">
        <div class="flex justify-between items-center w-full">
          <img class="h-10 w-10 mr-3 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
          <mat-label class="text-xl w-full">Uatayev Tannur</mat-label>
        </div>
        <div class="flex justify-between items-center w-full">
          <mat-label class="text-sm w-full">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has be...
          </mat-label>
        </div>
      </div>
    </div>
  </div>
</div>
